{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }


  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

  }
{%- endstyle -%}

<footer
  class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding"
  style=" background: {{ section.settings.sec_bg_color }}"
>
  <div class="footer__content-top page-width">
    {%- if section.blocks.size > 0 -%}
      {%- liquid
        if section.blocks.size == 9
          assign footer_grid_class = 'grid--3-col-tablet'
        elsif section.blocks.size > 6
          assign footer_grid_class = 'grid--4-col-desktop'
        elsif section.blocks.size > 4
          assign footer_grid_class = 'grid--3-col-tablet'
        endif
      -%}
      <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
        {%- for block in section.blocks -%}
          <div
            class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}"
            {{ block.shopify_attributes }}
          >
            {%- if block.settings.heading != blank -%}
              <h2
                class="footer-block__heading"
                style="font-size:{{ block.settings.heading_font_size }}px; color:{{ block.settings.heading_color }}"
              >
                {{- block.settings.heading | escape -}}
              </h2>
            {%- endif -%}

            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
                <div
                  class="footer-block__details-content rte "
                  style="font-size:{{ block.settings.unlock_font_size }}px; color:{{ block.settings.link_color }}"
                >
                  {{ block.settings.subtext }}
                </div>
                <div
                  class="email-icon"
                  style="background: {{ block.settings.subBGColor }}; margin-top:{{ block.settings.margi_top }}px;"
                >
                  <div class="icon">
                    <img src="{{ block.settings.icon-email | image_url }}" alt="">
                  </div>
                  <div
                    class="SubText-email"
                    style="background: {{ block.settings.subBGColor }}; margin-top:{{ block.settings.margi_top }}px; font-size:{{ block.settings.unlock_font_size }}px; color:{{ block.settings.subtextColor }}"
                  >
                    <p>
                      {{ block.settings.subemail }}
                    </p>
                  </div>
                </div>
                <div style="padding-top: {{ block.settings.paddin_top }}px; font-size:{{ block.settings.unlock_font_size }}px; color:{{ block.settings.link_color }}">
                  <p>{{ block.settings.subtexts }}</p>
                </div>
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank -%}
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a
                          href="{{ link.url }}"
                          class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                          style="color: {{ block.settings.text_color }}"
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- when 'brand_information' -%}
                <div class="footer-block__brand-info">
                  {%- if settings.brand_image != blank -%}
                    {%- assign brand_image_height = settings.brand_image_width
                      | divided_by: settings.brand_image.aspect_ratio
                    -%}
                    <div
                      class="footer-block__image-wrapper global-media-settings"
                      style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                    >
                      {{
                        settings.brand_image
                        | image_url: width: 1100
                        | image_tag:
                          loading: 'lazy',
                          widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                          height: brand_image_height,
                          width: settings.brand_image_width
                      }}
                    </div>
                  {%- endif -%}
                  {%- if settings.brand_headline != blank -%}
                    <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                  {%- endif -%}
                  {%- if settings.brand_description != blank -%}
                    <div class="rte">{{ settings.brand_description }}</div>
                  {%- endif -%}
                  {%- if block.settings.show_social and has_social_icons -%}
                    {%- render 'social-icons' -%}
                  {%- endif -%}
                </div>
              {%- when 'image' -%}
                <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                  {%- if block.settings.image != blank -%}
                    {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                    <div
                      class="footer-block__image-wrapper global-media-settings"
                      style="max-width: min(100%, {{ block.settings.image_width }}px);"
                    >
                      <img
                        srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                        src="{{ block.settings.image | image_url: width: 760 }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                      >
                    </div>
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  {%- endif -%}
                </div>
              {% when 'CXPro' %}
                <div class="cx-membership" style="background: {{ block.settings.cx-bg-color }} ;">
                  <div class="logo">
                    <img src="{{ block.settings.image_logo | img_url }}" alt="">
                  </div>
                  <div
                    class="heading-cx"
                    style="color: {{ block.settings.cx-color }}; font-size: {{ block.settings.cx-head-font }}px; padding-top:{{ block.settings.cx-pad-top }}px;"
                  >
                    {{ block.settings.cx_title }}
                  </div>
                  <div
                    class="sub-heading"
                    style="color: {{ block.settings.cx-color }}; font-size: {{ block.settings.cx-sub-font }}px; padding-top:{{ block.settings.cx-pad-top }}px;"
                  >
                    {{ block.settings.cx_subtitle }}
                  </div>
                  {%- if block.settings.menus != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menus.links -%}
                        <li>
                          <a
                            href="{{ link.url }}"
                            class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            style="color: {{ block.settings.cx-color }}; font-size: {{ block.settings.cx-font-size }}px; padding-top:{{ block.settings.cx-pad-top }}px;"
                          >
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                  <div
                    class="cx-btn"
                    style="font-size: {{ block.settings.cx-font-size }}px; background: {{ block.settings.btn-bg-color }}; "
                  >
                    <a href="" style="color: {{ block.settings.cx-btn-color }};">
                      {{ block.settings['cx-btnText'] }}
                    </a>
                  </div>
                  <div
                    class="learn-m"
                  >
                    <a
                      class="link-image"
                      style="color: {{ block.settings.cx-color }}; font-size: {{ block.settings.cx-font-size }}px; padding-top:{{ block.settings.cx-pad-top }}px;"
                      href=" {{ block.settings.learn_link }} "
                    >
                      {{ block.settings.learn_text }}
                    </a>
                    <img src="{{ block.settings.icon-link | image_url }}" alt="">
                  </div>
                </div>
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Heading font size",
          "default": 14
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Body text",
          "default": "#152B73"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Body text",
          "default": "#152B73"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Heading font size",
          "default": 14
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Body text",
          "default": "#152B73"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "image_picker",
          "id": "icon-email",
          "label": "Select a icon"
        },
        {
          "type": "richtext",
          "id": "subemail",
          "label": "Contant email"
        },
        {
          "type": "color",
          "id": "subBGColor",
          "label": "selct a background",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "margi_top",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Top",
          "default": 10
        },
        {
          "type": "color",
          "id": "subtextColor",
          "label": "selct a color"
        },
        {
          "type": "richtext",
          "id": "subtexts",
          "label": "Text"
        },
        {
          "type": "range",
          "id": "paddin_top",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Top",
          "default": 16
        },
        {
          "type": "range",
          "id": "unlock_font_size",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "color",
          "id": "link_color",
          "label": "Body text",
          "default": "#152B73"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "CXPro",
      "name": "CXPro",
      "settings": [
        {
          "type": "color",
          "id": "cx-bg-color",
          "label": "Section color",
          "default": "#fff"
        },
        {
          "type": "image_picker",
          "id": "image_logo",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "cx-color",
          "label": "Text color",
          "default": "#152B73"
        },
        {
          "type": "text",
          "id": "cx_title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "range",
          "id": "cx-head-font",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Heading Font size",
          "default": 18
        },
        {
          "type": "text",
          "id": "cx_subtitle",
          "label": "Sub Heading",
          "default": "Sub"
        },
        {
          "type": "range",
          "id": "cx-sub-font",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 12
        },
        {
          "type": "range",
          "id": "cx-font-size",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "text size",
          "default": 14
        },
        {
          "type": "range",
          "id": "cx-pad-top",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "text size",
          "default": 10
        },
        {
          "type": "link_list",
          "id": "menus",
          "label": "Menu"
        },
        {
          "type": "text",
          "id": "cx-btnText",
          "label": "Sub Heading",
          "default": "Become a CX Pro Member"
        },
        {
          "type": "color",
          "id": "cx-btn-color",
          "label": "Text color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "btn-bg-color",
          "label": "Text color",
          "default": "#EE0000"
        },
        {
          "type": "text",
          "id": "learn_text",
          "label": "Enter a  text",
          "default": "Learn"
        },
        {
          "type": "url",
          "id": "learn_link",
          "label": "Url"
        },
        {
          "type": "image_picker",
          "id": "icon-link",
          "label": "Icon"
        }
      ]
    }
  ],
  "settings": [
    {
      //   "type": "select",
      //   "id": "color_scheme",
      //   "options": [
      //     {
      //       "value": "#F6F7FA",
      //       "label": "t:sections.all.colors.accent_1.label"
      //     },
      //     {
      //       "value": "accent-2",
      //       "label": "t:sections.all.colors.accent_2.label"
      //     },
      //     {
      //       "value": "background-1",
      //       "label": "t:sections.all.colors.background_1.label"
      //     },
      //     {
      //       "value": "background-2",
      //       "label": "t:sections.all.colors.background_2.label"
      //     },
      //     {
      //       "value": "inverse",
      //       "label": "t:sections.all.colors.inverse.label"
      //     }
      //   ],
      //   "default": "background-1",
      //   "label": "t:sections.all.colors.label"
      "type": "color",
      "id": "sec_bg_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": false,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
