{% style %}
.newpp{
    overflow: hidden;
}
.newppImgMain{
    width: 100%;
    display: flex;
}
.newppImg{
    width: 50%;
}

.newppInfo{
    width: 50%;
}
.newpp_compare_at_price{
    text-decoration: line-through;
    font-size: 18px;
}
.newpp_price{
    font-size: 24px;
}

{% endstyle %}

<div class="newpp container">
    <div class="newppImgMain">
        <div class="newppImg">
            <div class="prSwiper swiper-wrapper">
            {% for media in product.media %}
                <div class="swiper-slide">
                    <div class = "h-100 overflow-hidden p-2">
                        {% render 'product-media2' media: media %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="newppInfo">
        <h3 class="newppH1"> {{ product.title  }}  </h3>
        <div class="newpp_compare_at_price"> {{ product.compare_at_price | money  }} </div>
          <div class="newpp_price"> {{ product.price | money }} </div>
        <p class="newppPara"> {{ product.description  }} </p>
           {% comment %} <div id="product-component-1692962822267"></div> {% endcomment %}
    </div>

</div>


{% schema %}
    {
        "name": "newPP",
        "settings":[

        ],
        "presets":[
            {
                "name": "newPP"
            }
        ]
    }
{% endschema %}

{% comment %} <script src='{{ 'common.js' | asset_url }}' defer> </script> {% endcomment %}

<script>
    window.addEventListener("DOMContentLoaded", (event) => {
       var prSwiper = new Swiper('.prSwiper', {
            loop: true
       });
    });
</script>